/* GOOGLE FONT*/
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
/* END OF GOOGLE FONT */
/*START OF STATIC*/
.COMPANY_NAME{
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
    FONT-SIZE:40PX;                                           /* COMPANY NAME */
    COLOR:WHITE;
    DISPLAY:STATIC;
    MARGIN-TOP:30PX;
    MARGIN-LEFT:-150PX;
}
*{
    MARGIN:0;
    PADDING:0;
    LIST-STYLE:NONE;
    TEXT-DECORATION:NONE;
}
.BACKGROUND{
    background-image: url(BACKGROUND_IMAGE.jpeg);
    HEIGHT:100VH;
    WIDTH:100%;
    BACKGROUND-REPEAT:NO-REPEAT;
    BACKGROUND-SIZE:COVER;
    BACKGROUND-POSITION:CENTER;
}
.LEFT_CONTAINER{
    HEIGHT:100VH;
    WIDTH:270PX;
    opacity:60%;
    BACKGROUND-COLOR:BLACK;
    MARGIN-TOP:-612PX;
    DISPLAY:FLEX;
    JUSTIFY-CONTENT:CENTER;
}
.LOGO{
    HEIGHT:70PX;
    WIDTH:70PX;
    MARGIN-RIGHT:150PX;
    MARGIN-TOP:20PX;
    OPACITY:100%;
    DISPLAY:FLEX;
}
.LEFT_CONTAINER UL{                       /* TO ALLIGN LIST UPWARDS*/
    COLOR:WHITE;
    MARGIN-TOP:200PX;
    FONT-SIZE:20PX;
}
.LEFT_CONTAINER UL LI{
    MARGIN-BOTTOM:50PX;
    MARGIN-LEFT:-220PX;
}
.ICON{
    COLOR:WHITE;
    FONT-SIZE:25PX;
}
.TITLE{
    COLOR:WHITE;
    FONT-SIZE:20PX;
}
.SECOND_LIST{
    COLOR:WHITE;
    MARGIN-TOP:980PX;
}
/*END OF STATIC*/
/*START OF HOME*/
.RIGHT_CONTAINER{
    HEIGHT:80VH;
    opacity:60%;
    BACKGROUND-COLOR:BLACK;
    MARGIN-TOP:-550PX;
    MARGIN-LEFT:300PX;
    MARGIN-RIGHT:20PX;
    BORDER-RADIUS:50PX;
    DISPLAY:FLEX;
    JUSTIFY-CONTENT:CENTER;
}
.RIGHT_CONTAINER IMG{
    HEIGHT:350PX;
    MARGIN-left:700Px;
    MARGIN-TOP:-90PX;
    POSITION:FIXED;
}
.HOME_TEXT{
    MARGIN-LEFT:-400PX;
    MARGIN-TOP:50PX;
    COLOR:WHITE;
    FONT-SIZE:40PX;
    POSITION:FIXED;
}
.HOME_TEXT_1{
    MARGIN-LEFT:-825PX;
    MARGIN-TOP:180PX;
    COLOR:WHITE;
    FONT-SIZE:25PX;
    POSITION:FIXED;
}
.HOME_CONTAINER_SMALL_1{
    HEIGHT:200PX;
    WIDTH:200PX;
    BACKGROUND-COLOR:WHITE;
    opacity:60%;
    BORDER-RADIUS:25PX;
    MARGIN-TOP:250PX;
    MARGIN-LEFT:-750PX;
    POSITION:FIXED;
}
.HOME_CONTAINER_SMALL_2{
    HEIGHT:200PX;
    WIDTH:200PX;
    BACKGROUND-COLOR:WHITE;
    opacity:60%;
    BORDER-RADIUS:25PX;
    MARGIN-TOP:250PX;
    MARGIN-LEFT:-250PX;
    POSITION:FIXED;
}
.HOME_CONTAINER_SMALL_3{
    HEIGHT:200PX;
    WIDTH:200PX;
    BACKGROUND-COLOR:WHITE;
    opacity:60%;
    BORDER-RADIUS:25PX;
    MARGIN-TOP:250PX;
    MARGIN-LEFT:250PX;
    POSITION:FIXED;
}
.HOME_CONTAINER_SMALL_4{
    HEIGHT:200PX;
    WIDTH:200PX;
    BACKGROUND-COLOR:WHITE;
    opacity:60%;
    BORDER-RADIUS:25PX;
    MARGIN-TOP:250PX;
    MARGIN-LEFT:750PX;
    POSITION:FIXED;
}
.HOME_CONTAINER_ICON{
    FONT-SIZE:90PX;
    MARGIN-LEFT:10PX;
    POSITION:FIXED;
}
.HOME_CONTAINER_TITLE{
    FONT-SIZE:50PX;
    MARGIN-LEFT:100PX;
}
.HOME_CONTAINER_TITLE P{
    MARGIN-TOP:30PX;
    FONT-SIZE:30PX;
    MARGIN-RIGHT:-20PX;
    justify-content: center;
    font-style: BOLD;
}
/*END OF HOME*/
/*START OF ALL MY TASK*/
.ALL_MY_TASK_CONTAINER_1{
    MARGIN-TOP:-530PX;
    MARGIN-LEFT:325PX;
    HEIGHT:500PX;
    WIDTH:400PX;
    BORDER-RADIUS:25PX;
    BACKGROUND-COLOR:BLACK;
    OPACITY:60%;    
    POSITION:FIXED;
}
.ALL_MY_TASK_CONTAINER_2{
    MARGIN-TOP:-530PX;
    MARGIN-LEFT:775PX;
    HEIGHT:500PX;
    WIDTH:550PX;
    BORDER-RADIUS:25PX;
    BACKGROUND-COLOR:BLACK;
    OPACITY:60%;
    POSITION:FIXED;    
}
.ALL_MY_TASK_CONTAINER_3{
    MARGIN-TOP:-600PX;                      /*TOP SMALL COLUMN*/
    MARGIN-LEFT:325PX;
    HEIGHT:40PX;
    WIDTH:175PX;
    JUSTIFY-CONTENT:CENTER;
    PADDING-LEFT:20PX;
    PADDING-TOP:9PX;
    BORDER-RADIUS:25PX;
    BACKGROUND-COLOR:BLACK;
    OPACITY:60%;
    POSITION:FIXED;    
}
.ALL_MY_TASK_CONTAINER_1 SPAN{
    COLOR:WHITE;
    FONT-SIZE:25PX;
    PADDING-LEFT:20PX;
    POSITION:FIXED;
    PADDING-TOP:15PX;
}
.ROW{       
    DISPLAY:FLEX;                                /*THIS IS FOR FULL ROW, CONTAINS BOTH TEXT AND BUTTON*/
    ALIGN-ITEMS:CENTER;
    JUSTIFY-CONTENT:SPACE-BETWEEN;
    BACKGROUND:WHITE;
    OPACITY:80%;
    BORDER-RADIUS:15PX;
    PADDING-LEFT:20PX;
    MARGIN-BOTTOM:25PX;
    MARGIN-TOP:60PX;
    HEIGHT:40PX;
}
.INPUT{
    FLEX:1;                                        /*THIS IS ONLY FOR TEXT OF THAT ROW*/
    BORDER:NONE;
    OUTLINE:NONE;
    BACKGROUND:TRANSPARENT;
    PADDING:10PX;
    FONT-WEIGHT:14PX;
    FONT-SIZE:18PX;
}
.ALL_MY_TASK_CONTAINER_1 BUTTON{                    /*THIS IS ONLY FOR BUTTON OF THAT ROW*/
    BORDER:NONE;
    OUTLINE:NONE;
    PADDING-LEFT:40PX;
    PADDING-RIGHT:40PX;
    HEIGHT:40PX;
    BACKGROUND-COLOR: ORANGE;
    COLOR:BLACK;
    OPACITY:100%;
    FONT-SIZE:15PX;
    CURSOR:POINTER;
    BORDER-RADIUS:15PX;
}
.LIST_CONTAINER LI{
    LIST-STYLE:NONE;
    FONT-SIZE:20PX;
    PADDING:12PX 8PX 15PX 60PX;
    USER-SELECT:NONE;
    CURSOR:POINTER;
    COLOR:WHITE;
    POSITION:STATIC;
}
.LIST_CONTAINER LI::BEFORE{                            /*THIS IS FOR BEFORE SELECTING ANY ITEM.*/
    CONTENT:'';                                        /*ORIGINAL*/
    POSITION:ABSOLUTE;
    HEIGHT:30PX;
    WIDTH:30PX;
    BACKGROUND-IMAGE:URL(CIRCLE_UNCHECKED.svg);
    BACKGROUND-COLOR:WHITE;
    BORDER-RADIUS:50PX;
    MARGIN-LEFT:-35PX;
}
.CHECKED{
    TEXT-DECORATION:LINE-THROUGH;                      /*AFTER CLICKING THERE WILL BE LINE*/
}
UL LI.CHECKED::BEFORE{
    CONTENT:'';                                        /*AFTER CLICKING THERE WILL BE CHANGE OF SYMBOL*/
    POSITION:ABSOLUTE;
    HEIGHT:30PX;
    WIDTH:30PX;
    BACKGROUND-IMAGE:URL(CIRCLE_CHECKED.svg);
    BACKGROUND-COLOR:WHITE;
    BORDER-RADIUS:50PX;
    MARGIN-LEFT:-35PX;
}
.LIST_CONTAINER LI SPAN{                                /*THIS IS FOR CROSS MARKS IN LIST BEFORE CLICKING*/
    position: absolute;
    right:0;
    
    width:40px;                                            /*THIS CHECKS THE DISTANCE OF CROSS FROM RIGHT*/
    font-size:40px;
    line-height:0px;                                      /*THIS CHECKS TH ALLIGNMENT OF CROSS WITH TITLE*/
    
}
.LIST_CONTAINER LI SPAN:HOVER{                            /*THIS IS FOR CROSS MARKS IN LIST AFTER (ON) CLICKING*/
    background-color: white;
    BORDER-RADIUS:50PX;
    COLOR:BLACK;
    PADDING-TOP:20PX;
    line-height:0PX;;
    HEIGHT:20PX;
}
/*END OF CONTAINER 1*/
/*START OF CONTAINER 2*/
.ALL_MY_TASK_CONTAINER_2 SPAN{
    COLOR:WHITE;
    FONT-SIZE:25PX;
    PADDING-LEFT:20PX;
    POSITION:FIXED;
    PADDING-TOP:15PX;
}

/*END OF MY DAY*/
/*START OF NEXT 7 DAYS*/
.NEXT_7_DAYS_CONTAINER_1{
    MARGIN-TOP:-530PX;
    MARGIN-LEFT:325PX;
    HEIGHT:500PX;
    WIDTH:300PX;
    BORDER-RADIUS:25PX;
    BACKGROUND-COLOR:BLACK;
    OPACITY:60%;    
    POSITION:FIXED;
}

.NEXT_7_DAYS_CONTAINER_3{
    MARGIN-TOP:-600PX;                      /*TOP SMALL COLUMN*/
    MARGIN-LEFT:325PX;
    HEIGHT:40PX;
    WIDTH:175PX;
    JUSTIFY-CONTENT:CENTER;
    PADDING-LEFT:20PX;
    PADDING-TOP:9PX;
    BORDER-RADIUS:25PX;
    BACKGROUND-COLOR:BLACK;
    OPACITY:60%;
    POSITION:FIXED;    
}

.NEXT_7_DAYS_CONTAINER_1 SPAN{
    COLOR:WHITE;
    FONT-SIZE:25PX;
    PADDING-LEFT:20PX;
    POSITION:FIXED;
    PADDING-TOP:15PX;
}
.ROW{       
    DISPLAY:FLEX;                                /*THIS IS FOR FULL ROW, CONTAINS BOTH TEXT AND BUTTON*/
    ALIGN-ITEMS:CENTER;
    JUSTIFY-CONTENT:SPACE-BETWEEN;
    BACKGROUND:WHITE;
    OPACITY:80%;
    BORDER-RADIUS:15PX;
    PADDING-LEFT:20PX;
    MARGIN-BOTTOM:25PX;
    MARGIN-TOP:60PX;
    HEIGHT:40PX;
}
.INPUT{
    FLEX:1;                                        /*THIS IS ONLY FOR TEXT OF THAT ROW*/
    BORDER:NONE;
    OUTLINE:NONE;
    BACKGROUND:TRANSPARENT;
    PADDING:10PX;
    FONT-WEIGHT:14PX;
    FONT-SIZE:18PX;
}
.NEXT_7_DAYS_CONTAINER_1 BUTTON{                    /*THIS IS ONLY FOR BUTTON OF THAT ROW*/
    BORDER:NONE;
    OUTLINE:NONE;
    PADDING-LEFT:40PX;
    PADDING-RIGHT:40PX;
    MARGIN-LEFT:-80PX;
    HEIGHT:40PX;
    BACKGROUND-COLOR: ORANGE;
    COLOR:BLACK;
    OPACITY:100%;
    FONT-SIZE:15PX;
    CURSOR:POINTER;
    BORDER-RADIUS:15PX;
}
.LIST_CONTAINER LI{
    LIST-STYLE:NONE;
    FONT-SIZE:20PX;
    PADDING:12PX 8PX 15PX 60PX;
    USER-SELECT:NONE;
    CURSOR:POINTER;
    COLOR:WHITE;
    POSITION:STATIC;
    margin-top: -30px;
    padding-bottom:35px;
}
.LIST_CONTAINER LI::BEFORE{                            /*THIS IS FOR BEFORE SELECTING ANY ITEM.*/
    CONTENT:'';                                        /*ORIGINAL*/
    POSITION:ABSOLUTE;
    HEIGHT:30PX;
    WIDTH:30PX;
    BACKGROUND-IMAGE:URL(CIRCLE_UNCHECKED.svg);
    BACKGROUND-COLOR:WHITE;
    BORDER-RADIUS:50PX;
    MARGIN-LEFT:-35PX;
}
.CHECKED{
    TEXT-DECORATION:LINE-THROUGH;                      /*AFTER CLICKING THERE WILL BE LINE*/
}
UL LI.CHECKED::BEFORE{
    CONTENT:'';                                        /*AFTER CLICKING THERE WILL BE CHANGE OF SYMBOL*/
    POSITION:ABSOLUTE;
    HEIGHT:30PX;
    WIDTH:30PX;
    BACKGROUND-IMAGE:URL(CIRCLE_CHECKED.svg);
    BACKGROUND-COLOR:WHITE;
    BORDER-RADIUS:50PX;
    MARGIN-LEFT:-35PX;
}
.LIST_CONTAINER LI SPAN{                                /*THIS IS FOR CROSS MARKS IN LIST BEFORE CLICKING*/
    position: absolute;
    right:0;
    
    width:40px;                                            /*THIS CHECKS THE DISTANCE OF CROSS FROM RIGHT*/
    font-size:40px;
    line-height:0px;                                      /*THIS CHECKS TH ALLIGNMENT OF CROSS WITH TITLE*/
    
}
.LIST_CONTAINER LI SPAN:HOVER{                            /*THIS IS FOR CROSS MARKS IN LIST AFTER (ON) CLICKING*/
    background-color: white;
    BORDER-RADIUS:50PX;
    COLOR:BLACK;
    PADDING-TOP:20PX;
    line-height:0PX;;
    HEIGHT:20PX;
}


/*THIS IS FOR TUESDAY AND WEDNESDAY*/


.NEXT_7_DAYS_CONTAINER_2 SPAN{
    COLOR:WHITE;
    FONT-SIZE:25PX;
    PADDING-LEFT:20PX;
    POSITION:FIXED;
    PADDING-TOP:15PX;
}

.NEXT_7_DAYS_CONTAINER_2{
    MARGIN-TOP:-530PX;
    MARGIN-LEFT:650PX;
    HEIGHT:500PX;
    WIDTH:300PX;
    BORDER-RADIUS:25PX;
    BACKGROUND-COLOR:BLACK;
    OPACITY:60%;    
    POSITION:FIXED;
}

.NEXT_7_DAYS_CONTAINER_2 BUTTON {                    /*THIS IS ONLY FOR BUTTON OF THAT ROW*/
    BORDER:NONE;
    OUTLINE:NONE;
    PADDING-LEFT:40PX;
    PADDING-RIGHT:40PX;
    MARGIN-LEFT:-80PX;
    HEIGHT:40PX;
    BACKGROUND-COLOR: ORANGE;
    COLOR:BLACK;
    OPACITY:100%;
    FONT-SIZE:15PX;
    CURSOR:POINTER;
    BORDER-RADIUS:15PX;
}

.NEXT_7_DAYS_CONTAINER_4 SPAN{
    COLOR:WHITE;
    FONT-SIZE:25PX;
    PADDING-LEFT:20PX;
    POSITION:FIXED;
    PADDING-TOP:15PX;
}

.NEXT_7_DAYS_CONTAINER_4{
    MARGIN-TOP:-530PX;
    MARGIN-LEFT:975PX;
    HEIGHT:500PX;
    WIDTH:300PX;
    BORDER-RADIUS:25PX;
    BACKGROUND-COLOR:BLACK;
    OPACITY:60%;    
    POSITION:FIXED;
}

.NEXT_7_DAYS_CONTAINER_4 BUTTON{                    /*THIS IS ONLY FOR BUTTON OF THAT ROW*/
    BORDER:NONE;
    OUTLINE:NONE;
    PADDING-LEFT:40PX;
    PADDING-RIGHT:40PX;
    MARGIN-LEFT:-80PX;
    HEIGHT:40PX;
    BACKGROUND-COLOR: ORANGE;
    COLOR:BLACK;
    OPACITY:100%;
    FONT-SIZE:15PX;
    CURSOR:POINTER;
    BORDER-RADIUS:15PX;
}

/*THIS IS FOR SCROLL*/

.SCROLL{
    WIDTH:100%;
    display: flex;
    overflow-X: AUTO;
    flex:NONE;
    white-space: NOWRAP;
}

.SCROLL_1 , .SCROLL_2{
    FLEX:NONE;
}

.NEXT_7_DAYS_CONTAINER_5{
    MARGIN-TOP:-530PX;
    MARGIN-LEFT:1360PX;
    HEIGHT:500PX;
    WIDTH:300PX;
    BORDER-RADIUS:25PX;
    BACKGROUND-COLOR:BLACK;
    OPACITY:60%;    
    POSITION:FIXED;
}

.NEXT_7_DAYS_CONTAINER_5 SPAN{
    COLOR:WHITE;
    FONT-SIZE:25PX;
    PADDING-LEFT:20PX;
    POSITION:FIXED;
    PADDING-TOP:15PX;
}

.NEXT_7_DAYS_CONTAINER_5 BUTTON{                    /*THIS IS ONLY FOR BUTTON OF THAT ROW*/
    BORDER:NONE;
    OUTLINE:NONE;
    PADDING-LEFT:40PX;
    PADDING-RIGHT:40PX;
    MARGIN-LEFT:-80PX;
    HEIGHT:40PX;
    BACKGROUND-COLOR: ORANGE;
    COLOR:BLACK;
    OPACITY:100%;
    FONT-SIZE:15PX;
    CURSOR:POINTER;
    BORDER-RADIUS:15PX;
}

.NEXT_7_DAYS_CONTAINER_6 SPAN{
    COLOR:WHITE;
    FONT-SIZE:25PX;
    PADDING-LEFT:20PX;
    POSITION:FIXED;
    PADDING-TOP:15PX;
}

.NEXT_7_DAYS_CONTAINER_6{
    MARGIN-TOP:-530PX;
    MARGIN-LEFT:1680PX;
    HEIGHT:500PX;
    WIDTH:300PX;
    BORDER-RADIUS:25PX;
    BACKGROUND-COLOR:BLACK;
    OPACITY:60%;    
    POSITION:FIXED;
}

.NEXT_7_DAYS_CONTAINER_6 BUTTON{                    /*THIS IS ONLY FOR BUTTON OF THAT ROW*/
    BORDER:NONE;
    OUTLINE:NONE;
    PADDING-LEFT:40PX;
    PADDING-RIGHT:40PX;
    MARGIN-LEFT:-80PX;
    HEIGHT:40PX;
    BACKGROUND-COLOR: ORANGE;
    COLOR:BLACK;
    OPACITY:100%;
    FONT-SIZE:15PX;
    CURSOR:POINTER;
    BORDER-RADIUS:15PX;
}

.NEXT_7_DAYS_CONTAINER_7 SPAN{
    COLOR:WHITE;
    FONT-SIZE:25PX;
    PADDING-LEFT:20PX;
    POSITION:FIXED;
    PADDING-TOP:15PX;
}

.NEXT_7_DAYS_CONTAINER_7{
    MARGIN-TOP:-530PX;
    MARGIN-LEFT:2000PX;
    HEIGHT:500PX;
    WIDTH:300PX;
    BORDER-RADIUS:25PX;
    BACKGROUND-COLOR:BLACK;
    OPACITY:60%;    
    POSITION:FIXED;
}

.NEXT_7_DAYS_CONTAINER_7 BUTTON{                    /*THIS IS ONLY FOR BUTTON OF THAT ROW*/
    BORDER:NONE;
    OUTLINE:NONE;
    PADDING-LEFT:40PX;
    PADDING-RIGHT:40PX;
    MARGIN-LEFT:-80PX;
    HEIGHT:40PX;
    BACKGROUND-COLOR: ORANGE;
    COLOR:BLACK;
    OPACITY:100%;
    FONT-SIZE:15PX;
    CURSOR:POINTER;
    BORDER-RADIUS:15PX;
}
 
.SCROLL::-webkit-scrollbar{
    display: none;
}

.SCROLL_WRAPPER_BACK{
    font-size:80px;
    margin-top:-350px;
    margin-left:250px;
    color:black;
    opacity:60%;
    position: FIXED;
}

.SCROLL_WRAPPER_FRONT{
    font-size:80px;
    margin-top:-350px;
    margin-LEFT:1270px;
    color:BLACK;
    opacity:60%;
    position: fixed;
}

#backButton, #nextButton{
    width:50px;
    cursor:pointer;
}

/*EXTERNAL WEBSITE USED */
/* SYMBOLS:- IONICONS*/
/* FONT:- GOOGLE FONT*/